.actionDiv {
    text-align: center;
    border-radius: 25px;
  border: 15px 50px solid grey;
  width: 30%;
  height: 210px;
  margin-right: 2%; 
  background-color: rgb(226, 222, 222);
  box-shadow: 5px 10px 18px #bdb8b8;
  cursor: pointer;
  }
